Repository juanmanso/templyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pytest

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

pytest:
  name: pytest
  entry: poetry run pytest -m "not e2e"
  pass_filenames: false
  language: system

style: [code-analysis] apply pre-commit feedback
  .flake8
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pr_templates/documentation.md
  .github/pr_templates/issue.md
  .gitignore
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/README.md
  docs/repo_layout.md
Due: none

chore: add gitlint to pre-commit
  .pre-commit-config.yaml
  README.md
  docs/ca_and_pre_commit.md
  gitlint/.gitlint
  gitlint/user-rules.py
  poetry.lock
  pyproject.toml
Due: black, flake8, pytest

refactor: [typing-annotations] type vars in package
  mypy.ini
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cli/console.py
  src/cli/wikipedia.py
Due: black, flake8, pytest

refactor: [data-validation] schemas for json response
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cli/console.py
  src/cli/wikipedia.py
  tests/cli/test_wikipedia.py
Due: black, flake8, pytest

chore: func argument and type annotations with Typeguard
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8

chore: add more type annotation checkers
  .flake8
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8

refactor: [type-annotations] apply linter's feedback to test files
  .flake8
  gitlint/user-rules.py
  tests/cli/conftest.py
  tests/cli/test_console.py
  tests/cli/test_wikipedia.py
Due: black, flake8, pytest

chore: [docs] add docstrings tests
  .darglint
  .flake8
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8

docs: add docstrings to package
  src/cli/__init__.py
  src/cli/console.py
  src/cli/wikipedia.py
  tests/__init__.py
  tests/cli/conftest.py
  tests/cli/test_console.py
  tests/cli/test_wikipedia.py
Due: black, flake8, pytest

docs: [xdoctest] add dependency and example
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cli/wikipedia.py
Due: black, flake8, pytest

docs: [pre-commit] add docstrings to user-rules file
  gitlint/user-rules.py
Due: black, flake8, pytest

docs: [sphinx] add dependency, config and source code doc
  docs/_static/custom.css
  docs/conf.py
  docs/index.rst
  docs/sphinx/license.rst
  docs/sphinx/source_reference.rst
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8, pytest

docs: [sphinx] add md files to sphinx doc through recommonmark
  .flake8
  docs/README.md
  docs/ca_and_pre_commit.md
  docs/conf.py
  docs/index.rst
  docs/repo_layout.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8, pytest

devops: [gh-actions] add ci workflow and badge
  .github/workflows/ci.yml
  README.md
Due: none

devops: [gh-actions] add coverage workflow and badge
  .github/workflows/coverage.yml
  README.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8

chore: [versioning] single-source package versioning
  poetry.lock
  pyproject.toml
  src/cli/__init__.py
Due: black, flake8, pytest

docs: [readthedocs] add support for readthedocs
  .readthedocs.yml
  README.md
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

fix: [gh-actions] failing ci and coverage pipelines
  gitlint/user-rules.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8, pytest

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  pytest: any of: \.py$, but not: noxfile.py
